.talk-bubble {
    margin: 0 0 1rem 1rem;
    display: block;
    position: relative;
    width: 200px;
    height: auto;
    background-color: rgb(226, 224, 255);
    align-items: center;
    text-align: left;
    word-wrap: break-word;
}

.round {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.chatItems {
    display: block;
    margin-left: 1rem;
}

.chatItems__user {
    font-weight: bolder;
}
